/* ------------------------------------ */
/*				   Less					*/
/* This is your Less entry file			*/
/* ------------------------------------ */
.dragon-age .window-content {
  height: 100%;
  padding: 5px;
  overflow-y: hidden;
  background-image: url("./assets/sheet-background.png");
}
.dragon-age .sheet-header-da {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 58px 42px;
  grid-template-areas: "profile name" "profile sub";
}
.dragon-age .sheet-header-da .profile-img {
  height: 100%;
  width: 100%;
  grid-area: profile;
  border: 2px black solid;
}
.dragon-age .sheet-header-da .name {
  grid-area: name;
}
.dragon-age .sheet-header-da .sub-header {
  grid-area: sub;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.dragon-age .sheet-tabs {
  margin: 4px;
  margin-bottom: 0;
}
.dragon-age .sheet-tabs .item {
  margin: 0px 2%;
  background-color: #FF0000;
  color: white;
}
.dragon-age .sheet-tabs .item.active {
  background-color: #570000;
  text-shadow: none;
}
.dragon-age .sheet-body {
  padding: 10px;
  margin: 0 5px;
  overflow: auto;
}
.dragon-age .sheet-body table {
  border-style: none;
}
.dragon-age .sheet-body tr {
  vertical-align: top;
  text-align: top;
}
.dragon-age .sheet-body .stat-row {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 3px;
}
.dragon-age .sheet-body .wide-section {
  margin: 5px;
  background-color: #570000;
  display: flex;
  flex-direction: column;
  padding: 3px;
}
.dragon-age .sheet-body .wide-section h3 {
  color: white;
  text-align: center;
  margin: 0;
}
.dragon-age .sheet-body .wide-section ol {
  background: white;
  min-height: 30px;
  margin: 0;
}
.dragon-age .sheet-body .wide-section .editor {
  padding: 4px;
  flex-grow: 1;
  flex-basis: auto;
  flex-shrink: 0;
  background: white;
  resize: vertical;
}
.dragon-age .sheet-body .wide-section .editor .tox {
  height: 400px !important;
}
.dragon-age .sheet-body .wide-section .entry {
  display: flex;
  flex-flow: row nowrap;
  background: white;
  align-items: baseline;
  padding: 2px;
}
.dragon-age .sheet-body .wide-section .entry label {
  padding: 0 4px;
  flex-basis: content;
  color: #570000;
}
.dragon-age .sheet-body .item-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}
.dragon-age .sheet-body .item-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px;
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid #bbb;
}
.dragon-age .sheet-body .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.dragon-age .sheet-body .item-list .item-name {
  margin: 0;
  flex-grow: 1;
  font-size: small;  
}

.dragon-age label {
  padding: 0;
  color: white;
}
.dragon-age .prop {
  background-color: #570000;
  text-align: center;
  margin: 2px !important;
  padding: 3px;
  flex-grow: 1;
  flex-basis: 0%;
}
.dragon-age .prop input {
  height: 22px;
  width: 100%;
  border: none;
  border-radius: 0;
  background-color: white;
  margin: 0;
}
.dragon-age .prop select {
  height: 22px;
  width: 100%;
  border: none;
  border-radius: 0;
  background-color: white;
  margin: 0;
}
.dragon-age .prop label {
  margin: 0 auto;
  padding: 0;
  font-size: x-small;
  display: block;
}
.dragon-age .check-prop {
  background-color: #570000;
  margin: 2px !important;
  padding: 5px;
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 1;
  justify-items: center;
}
.dragon-age .check-prop label {
  padding-top: 4px;
}
.dragon-age .prop.wide {
  flex-grow: 2;
}
.dragon-age .resource {
  display: flex;
  flex-wrap: nowrap;
}
.dragon-age .resource input {
  flex-shrink: 1;
}
.dragon-age .resource span {
  padding: 0 4px;
  color: white;
}
.dragon-age h1.prop {
  border: none;
}
.dragon-age h1.prop input {
  height: 28px;
  margin: 0;
}
.dragon-age h1.prop label {
  font-size: medium;
}
.dragon-age .rollable.small-die {
  font-size: small;
  color: black;
}
.dragon-age .rollable.big-die {
  font-size: x-large;
  float: right;
  color: white;
}
.dragon-age.sheet.actor {
  min-width: 560px;
  min-height: 420px;
}
.dragon-age.sheet.item {
  min-width: 460px;
  min-height: 400px;
}
.player-character .player-main {
  display: flex;
  flex-flow: row nowrap;
}
.player-character .player-main .abilities {
  padding-top: 2px;
  flex-basis: 175px;
  flex-grow: 0;
  flex-shrink: 0;
}
.player-character .player-main .abilities .ability {
  background: #570000;
  display: block;
  padding: 3px;
  width: 100%;
  height: 45px;
}
.player-character .player-main .abilities .ability input {
  border: none;
  text-align: center;
  background: white;
  height: 30px;
  width: 30px;
}
.player-character .player-main .content {
  flex-grow: 1;
  flex-shrink: 1;
}
.player-character .list {
  width: 100%;
}
.player-character .list input {
  margin: 2px 0;
}
.player-character .relationship-table {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 4fr 20px;
  column-gap: 3px;
  row-gap: 4px;
  background: white;
  padding: 3px;
}
.player-character .relationship-table .relationship-add {
  grid-column: 4;
  text-align: center;
}
.player-character .relationship-table .relationship-delete {
  text-align: center;
}
.player-character .lined {
  border: none;
  border-radius: 0;
  background: white;
  background-image: -webkit-linear-gradient(white 20px, black 20px, black 21px, white 21px);
  background-size: 100% 21px;
  overflow: hidden;
  line-height: 21px;
}
.dice-roll .die {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #FF0000;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 2px;
}
.dice-roll .die.drama {
  background-color: #570000;
  color: white;
}
