<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header-da">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <h1 class="name prop">
            <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
            <label>Name</label>
        </h1>
        <div class="sub-header">
            <div class="prop">
                <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="number" />
                <label for="data.quantity">Quantity</label>
            </div>
            <div class="prop">
                <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="number" />
                <label for="data.weight">Weight</label>
            </div>
        </div>
    </header>
    <section class="sheet-body">
        <div class="wide-section">
            <h3>Description</h3>
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
