<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header-da">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        <h1 class="name prop">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
            <label for="name">Name</label>
        </h1>
        <div class="sub-header">
            <div class="race prop">
                <input name="data.race" type="text" value="{{data.race}}" placeholder="Race" data-dtype="String" />
                <label for="data.race">Race</label>
            </div>
            <div class="background prop">
                <input name="data.background" type="text" value="{{data.background}}" placeholder="Background"
                    data-dtype="String" />
                <label for="data.background">Background</label>
            </div>
            <div class="class prop">
                <input name="data.class" type="text" value="{{data.class}}" placeholder="Class" data-dtype="String" />
                <label for="data.class">Class</label>
            </div>
            <div class="prop">
                <input name="data.level" type="text" value="{{data.level}}" placeholder="Level" data-dtype="Number" />
                <label for="data.level">Level</label>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="main">Main</a>
		<a class="item" data-tab="combat">Weapons & Spells</a>
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="items">Talents & Gear</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Main Tab --}}

        <div class="tab main" data-group="primary" data-tab="main">
            <div class="player-main">
                <div class="abilities">
                    {{#each actor.data.abilities }}
                    <div class="ability">
                        <input name="data.abilities.{{@key}}" type="text" value="{{this}}" data-dtype="Number" />
                        <label for="data.abilities.{{@key}}">{{@key}}</label>
                        <a class="rollable big-die" data-ability="{{@key}}"><i class="fas fa-dice"></i></a>
                    </div>
                    {{/each}}
                </div>

                <div class="content">

                    <div class="wide-section">
                        <h3>Focuses</h3>
                        <ol class="item-list">
                            {{#each itemGroups.focuses as |item id|}}
                            <li class="item" data-item-id="{{item._id}}">
                                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                                <h4 class="item-name">{{item.name}}</h4>
                                <div class="item-controls">
                                    <a class="rollable small-die" title="Roll" data-item-id="{{item._id}}">
                                        <i class="fas fa-dice"></i>
                                    </a>
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i
                                            class="fas fa-trash"></i></a>
                                </div>
                            </li>
                            {{/each}}
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
			<div class="wide-section">
                <h3>Persona</h3>
                <div class="entry">
                    <label>Calling</label>
                    <input class="lined" name="data.persona.calling" type="text" data-dtype="string"
                        value="{{data.persona.calling}}" />
                </div>
                <div class="entry">
                    <label>Destiny</label>
                    <input class="lined" name="data.persona.destiny" type="text" data-dtype="string"
                        value="{{data.persona.destiny}}" />
                </div>
                <div class="entry">
                    <label>Fate</label>
                    <input class="lined" name="data.persona.fate" type="text" data-dtype="string"
                        value="{{data.persona.fate}}" />
                </div>
                <div class="entry">
                    <label>Corruption</label>
                    <input class="lined" name="data.persona.corruption" type="text" data-dtype="string"
                        value="{{data.persona.corruption}}" />
                </div>
                <div class="entry">
                    <label>Goals</label>
                    <div class="list">
                        {{#each data.persona.goals}}
                        <input class="lined" name="data.persona.goals.{{@key}}" type="text" data-dtype="string"
                            value="{{this}}" />
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="wide-section">
                <h3>Relationships</h3>
                <div class="relationship-table">
                    <h4>Name</h4>
                    <h4>Intensity</h4>
                    <h4>Relationship Bond</h4>
                    <h4></h4>
                    {{#each data.relationships}}
                    <input class="relationship lined" name="data.relationships.{{@key}}.name" type="text"
                        data-dtype="string" value="{{this.name}}" />
                    <input class="relationship lined" name="data.relationships.{{@key}}.intensity" type="text"
                        data-dtype="number" value="{{this.intensity}}" />
                    <input class="relationship lined" name="data.relationships.{{@key}}.bond" type="text"
                        data-dtype="string" value="{{this.bond}}" />
                    <a class="relationship-delete" name="data.relationships.{{@key}}.delete" title="Remove Relationship"
                        data-action="remove" data-index="{{@key}}"><i class="fas fa-trash"></i></a>
                    {{/each}}
                    <a class="relationship-add" title="Add Relationship" data-action="add">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
            <div class="wide-section">
                <h3>Character Notes</h3>
                {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
            </div>
        </div>
        {{!-- Weapoons and Spells Tab --}}
			<div class="tab items" data-group="primary" data-tab="combat">
			<div class="stat-row">
				<div class="prop">
					<input name="data.speed" type="text" value="{{data.speed}}" placeholder="Speed"
						data-dtype="Number" />
					<label for="data.speed">Speed</label>
				</div>
				<div class="prop">
					<input name="data.defense" type="text" value="{{data.defense}}" />
					<label for="data.defense">Defense</label>
				</div>
				<div class="prop">
					<input name="data.armorRating" type="text" disabled="true" value="{{data.armorRating}}"
						placeholder="Armor Rating" data-dtype="Number" />
					<label for="data.armorRating">Armor Score</label>
				</div>
				<div class="prop">
					<input name="data.armorPenalty" type="text" disabled="true" value="{{data.armorPenalty}}"
						placeholder="Armor Penalty" data-dtype="number" />
					<label for="data.armorPenalty">Armor Penalty</label>
				</div>
			</div>
			<div class="stat-row">
				<div class="prop wide">
					<div class="resource">
						<input name="data.health.value" type="text" value="{{data.health.value}}"
							data-dtype="Number" />
						<span>/</span>
						<input name="data.health.max" type="text" value="{{data.health.max}}"
							data-dtype="Number" />
					</div>
					<label>Health</label>
				</div>
				<div class="prop wide">
					<div class="resource">
						<input name="data.mana.value" type="text" value="{{data.mana.value}}"
							data-dtype="Number" />
						<span>/</span>
						<input name="data.mana.max" type="text" value="{{data.mana.max}}"
							data-dtype="Number" />
					</div>
					<label>Mana</label>
				</div>
			</div>            
			<div class="wide-section">
				<h3>Weapons & Arcana</h3>
				<ol class="item-list">
					{{#each itemGroups.actions as |item id|}}
					<li class="item" data-item-id="{{item._id}}">
						<img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
						<h4 class="item-name">{{item.name}}</h4>
						<div class="item-controls">
							<a class="rollable small-die" title="Roll" data-item-id="{{item._id}}">
								<i class="fas fa-dice"></i>
							</a>
							<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
							<a class="item-control item-delete" title="Delete Item"><i
									class="fas fa-trash"></i></a>
						</div>
					</li>
					{{/each}}
				</ol>
			</div>
		</div>
        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <div class="wide-section">
                <h3>Talents & Specializations</h3>
                <ol class="item-list">
                    {{#each itemGroups.talents as |item id|}}
                    <li class="item" data-item-id="{{item._id}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                        <h4 class="item-name">{{item.name}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <div class="wide-section">
                <h3>Gear</h3>
                <ol class="item-list">
                    {{#each itemGroups.gear as |item id|}}
                    <li class="item" data-item-id="{{item._id}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                        <h4 class="item-name">{{item.name}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <div class="stat-row">
                <div class="prop">
                    <input name="data.gp" type="text" value="{{data.gp}}" placeholder="GP" data-dtype="Number" />
                    <label for="data.gp">GP</label>
                </div>
                <div class="prop">
                    <input name="data.sp" type="text" value="{{data.sp}}" placeholder="SP" data-dtype="Number" />
                    <label for="data.sp">SP</label>
                </div>
                <div class="prop">
                    <input name="data.cp" type="text" value="{{data.cp}}" placeholder="CP" data-dtype="Number" />
                    <label for="data.cp">CP</label>
                </div>
            </div>
        </div>
    </section>
</form>